* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background;

  font-family: 'Roboto', sans-serif;
  font-size: $font-size-default;

  @media screen and (max-width: 1024px) {
    font-size: $font-size-medium;
  }

  @media screen and (max-width: 798px) {
    font-size: $font-size-small;
  }
}

.list_unmarked {
  margin: 0;
  padding: 0;
  list-style: none;

  &_flat {
    @extend .list_unmarked;
    display: flex;
  }
}