.answer {
  // background-color: green;
  padding: 15px 0;
  border-bottom: 1px solid #c7c7c7;


  &_correct {
    background-color: green;
  }

  &_incorrect {
    background-color: red;
  }

  &:hover {
    // background-color: $color-background;
    cursor: pointer;
  }
}