.answer {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: calc($font-size-default / 2);
    height: calc($font-size-default / 2);
    border-radius: 50%;
    background-color: $color-background;
    margin-right: 5px;
  }

  &_correct::before {
    background-color: green;
  }

  &_incorrect::before  {
    background-color: red;
  }

  &:hover {
    background-color: $color-background;
    cursor: pointer;
  }
}