.button {
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
}

.button-active {
  background-color: $color-active;
  color: $color-content;

  &:hover {
    background-color: adjust-color($color: $color-active, $hue: 0, $saturation: 0%, $lightness: -10%, $alpha: 1.0);
    transition: 0.2s ease-in;
  }
}

.button-start,
.button-next {
  @extend .button;

  &_active {
    @extend .button-active;
  }
}

.button-next {
  justify-self: center;
  align-self: start;
}
