.mystery-bird {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, max-content);
  column-gap: 30px;

  &__image {
    display: block;
    grid-row: 1 / 3;
    object-fit: cover;
  }

  &__name {
    margin: 0;
  }

  &__audio {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    .controls {
      align-self: flex-start;
      margin-top: 6px;
      cursor: pointer;
    }

    .volume {
      position: relative;
      align-self: flex-start;
      margin-top: 6px;
      cursor: pointer;
      // display: flex;

      // &::before {
      //   position: absolute;
      //   content: '';
      //   width: 20px;
      //   height: 5px;
      //   background-color: blue;
      // }
    }
  }

}