.nav {

  &__list {
    flex-wrap: wrap;
  }
  
  &__item {
    padding: 5px 10px;
  }

  &__item:hover {
    background-color: $color-background;
    color: $color-content;
    cursor: pointer;
  }
}