.volume-container {
  --width-flag: 0;
  --border: 0;
  position: relative;
  display: flex;

  cursor: pointer;

  &:hover {
    --width-flag: 1;
    --border: 2px;
  }

  .volume-slider {
    position: absolute;
    right: 95%;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;

    width: calc(var(--width-flag) * 100px);
    height: 20px;
    padding-left: 10px;

    background-color: $color-content;
    transition: 0.5s ease-out;

    border-radius: 10px;

    .slider-scale-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 9px;
      margin-left: auto;

      pointer-events: none;
      border-left: 2px solid $color-active;
      border-radius: 5px;

      .slider-scale {
        width: 100%;
        height: 5px;
        margin-left: auto;
        margin-right: 2px;

        border-radius: 5px;
        
        background-color: $color-active;
        pointer-events: none;
      }
    }
  }
}