.header {
  .logo {
    margin: 0;
    font-family: 'Monoton', sans-serif;
    font-size: 36px;
    color: $color-active;
  }

  .nav {
    &__item:hover {
      background-color: $color-active;
      transition: 0.2s ease-in;
    }
  }

}