.content-wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
  background-color: $color-content;

  &_header {
    @extend .content-wrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

  }

  &_start-page {
    @extend .content-wrapper;
    height: 100%;
    text-align: center

  }

  &_top-panel {
    @extend .content-wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .score {
      padding: 5px 10px;
    }

    .bird-types {

      &__list {
        flex-wrap: wrap;
        justify-content: center;
      }

      &__item {
        padding: 5px 10px;
      }
    }
  }

  &_main {
    @extend .content-wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    gap: 15px;

    height: 100%;

    .mystery-bird {
      grid-column: 1 / 3;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }

    .answers-block {
      align-self: center
    }
  }

  &_results {
    @extend .content-wrapper;
    height: 100%;
    text-align: center;
  }

  &_footer {
    @extend .content-wrapper;
  }
}

.hidden {
  display: none;
}